body{
    margin: 0%;
    padding: 0%;
    height: 100vmax;
}
.navbar{
    width: 100%;
    height: 100px;
    background-color: black;
}
.navbar-brand{
    font-weight:  700;
    font-size:30px ;
    color: #fff;
}

.form-control{
    background-color: #000;
    margin-left: 20px;
    border-radius: 0px;
    border-color:grey;
}

.logo{
    width: 500px;
    /* background-color: aqua; */
    text-align: center;
}
.navbar-nav{
    width: 100%;
    color: #fff;
    /* background-color: aqua; */
    text-align:center;
    
}
.nav-item>a{
    font-weight: 600;
    font-size: 14.2px;
    color: white !important;
}
.material-symbols-outlined{
    width: 30PX;
    
}
.btn>button{
    background-color: #000;
    border: 1px solid red;
    color:#fff;
    padding-left:3px ;
    margin-right: 1px;

}
.btn>button:hover{
    color: aqua;
   background-color:  red;
}
.main{
    width: 100%;
    
}
.main-image{
    position: relative;
}
.main-image>img{
    width: 100%;
    height: 750px;
    /* padding-top: 50px; */
    filter: brightness(.3);
}
.main-content{
    width: 50%;
    /* height: 100vh; */
    position: absolute;
    top: 270px;
}
.text{
    padding-left: 20px;
    color: #fff;
    
}
.text>h1{
    font-weight: 800;
    font-size: 80px;

}
.text>button{
    background-color: red;
    border: 0px solid red;
    color: #fff;
    padding: 10px 30px;
    font-size: large;
    margin-top: 20px;
}
.them-card{
    width: 100%;
    display: flex;
    position: absolute;
    top: 675px;
    /* margin-top: 10px; */
    padding:10px 20px ;
    
}

.card1{
    width: 300px;
    height: 180px;
    border-radius: none !important;    
    border-top: 1px solid #fff;
    margin:  10px;
    padding:10px 2px ;
    
}

.card1>h5{
    color: aliceblue;
    font-size: small;
    line-height: 60px;
}
.card1>h4{
    color: aliceblue;

}
.card1 .material-symbols-outlined{
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 70px;
    font-size: 30px;
    text-align: center;
}
.card2>img{
    border-radius: 70%;
}

.card2{
    padding-top: 50px;
    width: 300px;
    /* background-color: #fff; */
    text-align:center;
    border-radius: 40px;
}

.them-content{
    width: 100%;
    display: flex;

}
.them-contentone{
    width: 50%;

    margin-top: 10px;
  
  
}

.them-contenttwo{
        width: 50%;
        height: 120px;
        margin-top: 10px;
    
      
    
}

.them-contentone>h1{
    font-family: serif;
    font-weight: 700;
    font-size: 50px;
    padding-top: 40px;
}

.them-contenttwo>h4{
    font-family: serif;
    font-weight: bold;
    font-size: 30px;
    padding-top: 60px;
    text-align: right;
}

.them-contenttwo .material-symbols-outlined{
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 70px;
    font-size: 20px;
    text-align: center;
}
.them-row{
    margin-top: 15px;

}
.them-one>div, .material-symbols-outlined{
       font-size: 18px;
       margin: 9px;}

.them-one>div{
    position: relative;
    position: absolute;
    /* top: 10px; */
    z-index: 1;
}
.logo-one{
    position: relative;
}


.them-one>div{
    /* position: absolute; */
    margin: 10px ;
    
}

.them-one>div>h5{
    font-size: 15px;
    color:#fff;
    position: absolute;
    top: 270px;
    
    

}

.them-one>div>h2{

    width: 400%;
    font-size: 25px;
    font-weight: bolder;
    color: #fff;
    position: absolute;
    top: 290px;

}
.logo-two{
    margin-top: 10px;
}
.logo-a1>img{
    width: 50px;
    height: 50px;
  border-radius: 50%;
  margin-top: 25px;
}
.text-a1{
    width:210px ;
    margin:10px 10px ;
}
.b5{
    display: flex;
    margin-top: 20px;
}

.text-a1>h6{
    font-size: 11px;
    word-spacing: 5px;
    color: grey;
}
.text-a1>h5{
    font-size: 12px;
    font-weight: bold;
}
.b6{
    display: flex;

}
.manu{
    position: relative;
}
.manu-image>img{
    width: 100%;
    height: 600px;
    filter: brightness(.3);
}
.manu-text{
    width: 50%;
    position: absolute;
    bottom: 100px;
    left: 100px;
    /* background-color: chocolate; */
    
}
.manu-text>h1{
    font-size: 80px;
    line-height: 80px;
    color: #fff;
}

.manu-text>p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    color: #fff;
    padding: 10px;
    line-height: 30px;
    
}

.manu-text>h3{
    font-size: 29px;
    color: #fff;
}


.manu-text .material-symbols-outlined{
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 70px;
    font-size: 20px;
    text-align: center;
}

.c1{
    margin-top:70px ;
    width: 20% !important;

}
.c1>div{
    width: 90%;
    padding-left: 100px;
}
.c2{
    width: 100% !important;
    margin-top: 70px;
    
}

.c1>div>h6{
    font-size: small;
    letter-spacing: 5px;
    color: grey;

}
.c1>div>h1{
    font-weight: bold;
    line-height: 40px;
}

.c1>div>h2{
    font-size: 20px;
    /* font-weight: bold; */
    line-height: 40px;
}
.c1>div>h5{
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;
}
.c3{
    width: 20px;
    height: 20px;
    font-size: 20px;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    text-align: end;
    
    
}
.col-image{
    width: 100%;
}
.col-image>img{
    width: 120%;
    /* height:70vh; */
}
.c4{
    margin-top: 50px;
    font-family: none;
    line-height: 100px;

}
.section>div{
    word-spacing:  5px;
    padding: 20px ;
}
.section>div>h6{
    color: grey;
    letter-spacing: 4px;
    font-size: small;
}

.section>div>h1{
    font-weight: bolder;
}

.section-one{
background-color: #000;
}

.col>div{
    color: #fff;
    
}
.col>div>h2{
    font-size: 20.5px;
    font-weight: bolder;
    line-height: 30px;
}

.col>div>p{
    font-size: 15.5px;
    text-align: justify;
    color: grey;
    /* font-weight: bolder; */
    
}
.f{
    
    width: 20px;
    height: 20px;
    font-size: 20px;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    text-align: end;

}
.gg>div{
    color:#fff;
    margin: 50px;
    
}
.gg1{
    border-bottom: 1px solid white;
}
.section-three{
    height: 18vh;
    margin-top: 50px;
    color: #fff;
    font-size: smaller;
    font-style: inherit;
}








@media only screen and (max-width: 1000px){
    .navbar-nav{
        display:flex;
    }
    .nav-item{
    display: flex!important;
    flex-wrap: wrap !important;
    }
/* 
    .logo>img{
        display: block;
    } */

    .them-card{
        
        padding-top: 50px;
        
    }
    .main-content>h1{
        display: block;
    }
    
}
@media only screen and (max-width: 700px){
    .navbar-nav{
        display: none;
        flex-wrap: wrap-reverse;
    }
    
}
@media only screen and (max-width: 400px){
    .main-content{
        display: block;
    }
}




